aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.9.2
altgraph==0.17.2
ansicon==1.89.0
appdirs==1.4.4
asgiref==3.5.2
astroid==2.9.3
async-timeout==4.0.2
attrs==22.2.0
autopep8==1.6.0
bcrypt==4.0.0
beautifulsoup4==4.10.0
blessed==1.19.1
cachelib==0.9.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.1.3
colorama==0.4.4
cycler==0.11.0
daal==2021.5.0
daal4py==2021.5.0
decorator==4.4.2
Django==4.1.3
dnspython==2.2.1
dominate==2.7.0
email-validator==1.3.0
et-xmlfile==1.1.0
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Migrate==4.0.1
Flask-MySQL==1.5.2
Flask-QRcode==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
flyingcircus==0.1.4.0
fonttools==4.28.5
frozenlist==1.3.3
future==0.18.2
google-api-core==2.6.0
google-auth==2.6.0
google-cloud-core==2.2.2
google-cloud-speech==2.13.0
google-cloud-storage==2.1.0
google-crc32c==1.3.0
google-resumable-media==2.3.1
googleapis-common-protos==1.55.0
greenlet==1.1.3
grpcio==1.44.0
grpcio-status==1.44.0
gunicorn==20.1.0
idna==3.3
imageio==2.16.0
imageio-ffmpeg==0.4.5
importlib-metadata==4.12.0
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
jinxed==1.1.0
joblib==1.1.0
jpholiday==0.1.8
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
Mako==1.2.4
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.6.1
moviepy==1.0.3
multidict==6.0.4
mysql-connector-python==8.0.31
mysqlclient==2.1.1
natsort==8.1.0
nltk==3.8.1
numpy==1.22.0
openai==0.27.2
opencv-python==4.5.5.62
openpyxl==3.0.9
packaging==21.3
pandas==1.3.5
peewee==3.15.3
pefile==2021.9.3
Pillow==9.0.0
pip-review==1.2.0
platformdirs==2.4.1
proglog==0.1.9
proto-plus==1.20.3
protobuf==3.19.4
py2exe==0.11.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.0
pylint==2.12.2
PyMySQL==1.0.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-dotenv==0.21.0
pytk==0.0.2.1
pytz==2021.3
pywin32-ctypes==0.2.0
qrcode==7.3.1
regex==2023.3.23
requests==2.26.0
rsa==4.8
scikit-learn==1.0.2
scikit-learn-intelex==2021.5.0
scipy==1.7.3
seaborn==0.11.2
setuptools-scm==6.4.2
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.41
sqlparse==0.4.3
tbb==2021.5.0
threadpoolctl==3.0.0
toml==0.10.2
tomli==2.0.0
tqdm==4.62.3
typing_extensions==4.0.1
tzdata==2022.6
urllib3==1.26.7
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.13.3
WTForms==3.0.1
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.8.1
